main{
    margin: 100px;
    margin-bottom: right;
    border-style:groove;
    border: black solid;
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNDd5OHEwMXpod2doMHBkM3JjMHpudDZoM3M3dm9oODI4Mzd0MjR3MSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Vfhj19PusenfO/giphy.gif);
    background-repeat: repeat;
    color: rgb(255, 255, 255);
    background-position: auto

}

main:hover{
    background-color: rgb(52, 36, 33);
    box-decoration-break: clone;
}

.cadastro{
    color: rgb(92, 4, 4);
    margin: 40px solid;
    
    text-align: center;
}

.titulo{
    text-align: center;
}
.nomes{
    text-align:center;
}
.email{
    text-align: center;
}
.senha{
    text-align: center;

}
.estado{
    text-align: center;
}

.data{
    text-align: center;

}
.finalizar{
    text-align: right;
    color: aquamarine;
}
body{
    background-color: rgb(111, 111, 245);
}