table{
    width: 50%;
    min-width: 500px;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid #000c
}

caption{
    font-size:28px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 30px;
}

th, td{
    text-align: left;
    padding: 15px;
}

tr.planos{
    background-color: rgba(0, 0, 255, 0.363);
}

tr.planos th{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

tr.preco{
    background-color: gray;
}

tr.preco td{
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
}

tr.preco .label{
    font: 14px;
}